@model IEnumerable<Game_StoreWeb.Models.DTO.GameCompanyDTO>
@{
    ViewData["Title"] = "List of Game Company";
}

<link rel="stylesheet" href="~/css/GameCompany.css" />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card__image">
                    <img src="@item.ImageUrl" alt="@item.Name" />
                </div>
                <div class="card__content">
                    <p class="card__title">@item.Name</p>
                    <p class="card__description">@item.Details</p>
                    <p class="card__establishment-date">Establishment Date : @item.EstablishmentDate</p>
                    <div class="card__icons">
                        <a asp-action="Update" asp-controller="GameCompany" asp-route-id="@item.Id" class="card__icon update">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-action="Delete" asp-controller="GameCompany" asp-route-id="@item.Id" class="card__icon delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </div>  
            </div>
        </div>
    }

</div>
<div style="position:fixed; right:25px;bottom:25px" class="text-white">
    <a asp-controller="GameCompany" asp-action="Create" class="btn btn-success"> <i class="fa-solid fa-plus"></i> Add New </a>
</div>
