@model IEnumerable<Game_StoreWeb.Models.DTO.GameDTO>
@{
    ViewData["Title"] = "List of Games";
}

<link rel="stylesheet" href="~/css/game.css" />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-img-container">
                    <img src="@item.ImageUrl" alt="@item.Name">
                </div>
                <div class="card-header">
                    <h5 class="card-title">@item.Name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><b>Game Company: </b>@item.GameCompany.Name</p>
                    <p class="card-text"><b>Type: </b>@item.GameType.Name</p>
                    <p class="card-text"><b>Price: </b>@item.Price</p>
                    <div class="rating-container">
                        <span class="rating-value">Rate: </span>
                        <div class="rating" data-rating="@item.Rate">
                            <div class="rating-star" data-value="1"></div>
                            <div class="rating-star" data-value="2"></div>
                            <div class="rating-star" data-value="3"></div>
                            <div class="rating-star" data-value="4"></div>
                            <div class="rating-star" data-value="5"></div>
                            <input class="rating-input" type="number" min="0" max="5" step="0.1" />
                        </div>
                    </div>
                </div>
                <div class="card-footer btn-container">

                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <a asp-action="Delete" asp-controller="Game" asp-route-id="@item.Id" class="btn btn-outline-danger">
                            <i class="fa-solid fa-trash"></i> Delete
                        </a>
                    }
                    <a class="btn btn-success text-white" asp-controller="Order" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))</a>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <a asp-action="Update" asp-controller="Game" asp-route-id="@item.Id" class="btn btn-outline-primary">
                            <i class="fa-solid fa-pen-to-square"></i> Edit
                        </a>
                    }
                </div>
            </div>
        </div>

    }
</div>
 @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <div style="position:fixed; right:25px;bottom:25px" class="text-white">
        <a asp-controller="Game" asp-action="Create" class="btn btn-success"> <i class="fa-solid fa-plus"></i> Add New </a>
    </div>

}