@model Game_StoreWeb.Models.VM.ShoppingCartVM

@{
    ViewData["Title"] = "Shopping cart summary";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>You shopping cart summary</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Selected amount</th>
                    <th>Game</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Game.Name</td>
                        <td class="align-middle">@item.Game.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Amount * item.Game.Price).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Order" asp-action="RemoveItemFromShoppingCart"
                               asp-route-id="@item.Game.Id">
                                <i class="fa-solid fa-minus"></i>
                            </a>
                            |
                            @if (item.Game.Quantity > 0)
                            {
                                <a class="text-success" asp-controller="Order" asp-action="AddItemToShoppingCart"
                                   asp-route-id="@item.Game.Id">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            }
                            else
                            {
                                <span class="text-danger">Out of stock</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-center">
            <div class="btn-group">
                @*<a class="btn btn-outline-primary" asp-action="CompleteOrder">
                    Complete order
                </a>*@
                <div id="paypal-button-container"></div>
                <span style="padding:5px"></span>
                <a class="btn btn-outline-success" asp-controller="Home" asp-action="Platform">
                    Add more items
                </a>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script src="https://www.paypal.com/sdk/js?client-id=ARyC2kyopye1pdyBKtak-2Re4BXmVqfHEUdDWf6tuH7Jajew3y3-CT5akqkKk5fgUIegASODyu1ScpYM&disable-funding=credit,card"></script>
    <script>
        let _total = @Html.Raw(Model.ShoppingCartTotal);
        paypal.Buttons({
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: _total
                        }
                    }]
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    var url = '@Url.Action("CompleteOrder","Order")';
                    window.location.href = url;
                });
            }
        }).render('#paypal-button-container');
    </script>
}